
//====================COULEUR========================//

@white:#fff;
@black:#191919;
@grey:#ccc;


//====================VARIABLE========================//
html{

    width: 100%;
    height: 100%;

    body{

        background-color: @white;
        
        .regular{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }
        .bold{
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
        }
        .light{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
        }

        width: 100%;
        height: 100%;

        .wrapper{
            margin: 0 auto;
            width: 80%;
        }
        .fixed{
            position: fixed;
            top: 0;
            left: 0;
        }
        .full{
            margin: 0 auto;
            width: 100%;
            z-index: 1;
        }
        .white{
            background-color: @white;
        }

        .column{
           margin: 0 0%;
       }
//====================HEADER========================//
.logo{
    font-size: 2em;
    text-transform: uppercase;
    line-height: 48px;
    text-decoration: none;
    color: @black;
    float: left;
    margin-top: 24px;
    margin-bottom: 24px;
    .light;
}
.active{
    color: @black !important;
}
.menu{
   float: right;

   ul{
    list-style: none;
    li{
        float: left;

        a{
            margin: 46px 0 45px 30px;
            font-size: 1em;
            text-transform: uppercase;
            text-decoration: none;
            transition: all .5s ease-in-out;
            color: @grey;
            display: block;
            .light;
        }                  
    }
}
}
//====================INDEX========================//
.mb1{
    margin-bottom: 20px;
}
.mb2{
    margin-bottom: 40px;
}
.left{
    float: left;
}
.title{
    h1{
        font-size: 1.5em;
        text-transform: uppercase;
        .light;
    }
}
.blank{
    margin-top: 130px;
}
.all{
    width: 100%;
}
//====================PROJECTS GRID========================//
.grid-sizer,
.grid-item {
  width: 20%;
  margin-bottom: 30px;
}

.grid-item {
  float: left;
}

.grid-item-width {
  width: 40%;
}

.item{
    width: 94%;
    margin: 0 auto;
    position: relative;

    img{
        width: 100%;
        display: block;
    }

}

.info{
    opacity: 0;
    bottom: 0; left: 0; top: 0; right: 0;
    position: absolute;
    margin: 40px;
    background-color: @white;
    z-index: 0;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;  

    h2{
        font-size: 1.4em;
        text-transform: uppercase;
        color: @grey;
        text-align: center;
        position: relative;
        z-index: 2;
        top: 46%;
        .light;
    }

    &:hover{

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;                    
        opacity: 0.95;

    }
}
//====================PROJECT========================//

.text{
    width: 30%;
    margin-right: 40px;
    font-weight: 300px;
    font-size: 13px;
    line-height: 30px;
    .light;
    float: left;

    a{
        text-decoration: none;
        transition: all .5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;

        color: @grey;
        .light;

        &:hover{

            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;                    
            color: @black;

        }
    }           


}

.realisation{
    .title{
        position: fixed;
    }
}

.media{
    width: 60%;
    float: right;

    img{
        width: 100%;
        margin-top: 50px;
        display: block;
    }
}
//====================ÀPROPOS========================//
.media2{
    width:30%;
    float: left;

    img{
        width: 100%;
        display: block;
    }
}

.realisation{
    overflow: auto;
}
.nofixed{
    .title{
        position: relative;
    }
}

//====================FOOTER========================//
footer{
    font-size: 1em;
    color: @grey;
    .light;
    //margin: 30px 0;
    padding: 60px 0;
}

@media (max-height:800px) {
//====================INDEX========================//
.media{
        width: 55%
    }
.text{
        width: 40%
    }
.blank{
        margin-top: 110px;
}
.mb1{
        margin-bottom: 10px;
}
.mb2{
        margin-bottom: 20px;
}
footer{
    padding: 30px 0;
}
}



//====================RESPONSIVE========================//
@media (max-width:1024px) {
//====================INDEX========================//
.title{
    h1{
        font-size: 1.3em;
    }
}

.grid-sizer,
.grid-item {
  width: 33.33333333%;
  margin-bottom: 20px;
}
.grid-item-width {
  width: 66.66666666%;
}
.info{
    opacity: 0.5;
    h2{
        color: @black;
    }
}

.ninja{
    display: none;
}
//====================PROJECT========================//
.text{
    width: 30%;
    font-size: 12px;
    margin-bottom: 60px;
    margin-right: 10px;
}
.media{
    width: 60%;
}

}

@media (max-width:800px) {
.blank{
    margin-top: 160px;
}
.menu{
    ul{
        li{
            a{
                margin: 46px 0 45px 18px;
                font-size: 0.9em;
            }
        }
    }
}
//====================INDEX========================//
.grid-sizer,
.grid-item {
    width: 50%;
    margin-bottom: 25px;
}
.grid-item-width {
  width: 100%;
}
.info{
    opacity: 0.5;
    h2{
        color: @black;
    }
}
.ninja{
    display: block;
}
//====================PROJECT========================//
.text{
    width: 100%;
    font-size: 12px;
    margin-bottom: 40px;
    margin-right: 0;
}
.media{
    width: 100%;
}
.mt1{
    margin-top: 0px;
}
.realisation{
    .title{
        position: relative;
    }
}

//====================ÀPROPOS========================//

}

@media (max-width:640px) {
.mt1{
    margin-top: 80px;
}
.menu{
    width: 100%;
    ul{
        margin: 0 1.04%;
        li{
            a{
                margin: 46px 40px 45px 0;
            }
        }
    }
}
@media (max-height:800px){
    .blank{
        margin-top: 130px;
    }
}
}

@media (max-width:480px) {
//====================INDEX========================//

.menu{
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    ul{
        li{
            width: 33.3333%;
            a{
                margin: 40px 0px 40px 0px;
            }

        }
    }
}


.blank{
    margin-top: 170px;
}

.grid-sizer,
.grid-item {
    width: 100%;
    margin-bottom: 20px;
}
.grid-item-width {
  width: 100%;
}
.info{
    opacity: 0.5;
    h2{
        color: @black;
    }
}
//====================PROJECT========================//

.mt1{
    margin-top: 60px;
}

}
}
}

