# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/

# Next.js cache
.next/cache

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TypeScript
*.tsbuildinfo

# Miscellaneous
*.swp
*.bak
*.tmp

# Next.js static files cache
/public/static/

# Next.js export directories
export/
