<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script language="javascript" type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="/js/jquery-ui.js"></script>
	<script language="javascript" type="text/javascript" src="/js/imagesloaded.pkgd.js"></script>
	<script language="javascript" type="text/javascript" src="/js/masonry.pkgd.js"></script>
	<script language="javascript" type="text/javascript" src="/js/scriptport.js"></script>
</head>