---
layout: default
---

<div id = "warpSite" class = "full white">
	<div class = "wrapper blank realisation">
		<div class = "column">
			<div class = "mb1 title">
                <div class = "text">
                    <p>
                        {{ content }}
                    </p>
                    {% if page.link %}
                    <a href="{{ page.link }}" target="blank">Voir l'oeuvre</a>
                    {% endif %}
                </div> 
		    </div>
            <div class="column media">

                {% if page.video %}
                <div class="embed-container">
                    <iframe src="{{ page.video }}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
                {% endif %}

                {% for image in page.images %}
                    <div class = "">
                        <img src="/img/{{ page.url | downcase | replace: "/projects/", "" | replace: ".html", ""}}/{{ image }}">
                    </div>
                {% endfor %}
            </div>
        </div>
	</div>
</div>

